.flex-nav {
	width: 900px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 120px auto 60px auto;
	padding: 0;
}

.heading {
	flex: 1;
}

h2 {
	padding: 0;
}

.arrow_left {
  transform: rotate(90deg) scale(0.3);
  margin-left: -38px;
  margin-top: -38px;
  margin-bottom: -38px;
}

.arrow_right {
  transform: rotate(270deg) scale(0.3);
  margin-right: -38px;
  margin-top: -38px;
  margin-bottom: -38px;
}

.container {
	width: 900px;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.description {
	flex: 0 0 234px;
}

p {
	font-family: "Courier New", monospace;
	font-size: 14px;
	color: #000;
	line-height: 1.4em;
	margin-bottom: 1.4em;
}

p a {
	color: #000;
}

p a:hover {
	text-decoration: underline;
	text-shadow: none;
	text
}

#container {
	width: 382px;
	height: 540px;
	position: relative;
}

.skippr-nav-element {
	visibility: hidden;
}

#theTarget > nav.skippr-nav-item.skippr-arrow.skippr-next {
	right:6%;
}