header {
	display: flex;
	justify-content: center;
	margin-top: 90px;
	margin-bottom: 60px; 
}

header h2 {
	padding: 0;  
}

.arrow_left {
  transform: rotate(90deg) scale(0.3);
  float: left;
  position: absolute;
  top: 45px;
  left: 60px;
}

.container {
	width: 900px;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.description {
	flex: 0 0 234px;
}

p {
	font-family: "Courier New", monospace;
	font-size: 14px;
	color: #000;
	line-height: 1.4em;
	margin-bottom: 1.4em;
}

p a {
	color: #000;
}

p a:hover {
	text-decoration: underline;
	text-shadow: none;
	text
}

#container {
	width: 382px;
	height: 540px;
	position: relative;
}

.skippr-nav-element {
	visibility: hidden;
}

#theTarget > nav.skippr-nav-item.skippr-arrow.skippr-next {
	right:6%;
}