header {
	display: flex;
	justify-content: center;
	margin-top: 90px;
	margin-bottom: 60px; 
}

.arrow_left {
  transform: rotate(90deg) scale(0.3);
  float: left;
  position: absolute;
  top: 45px;
  left: 60px;
}

.container {
	width: 900px;
	margin: 0 auto;
	text-align: center;
}

footer {
	margin-top: 80px;
}



