.flex-nav {
	width: 900px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 120px auto 60px auto;
	padding: 0;
}

.heading {
	flex: 1;
}

h2 {
	padding: 0;
}

.arrow_left {
  transform: rotate(90deg) scale(0.3);
  margin-left: -38px;
  margin-top: -38px;
  margin-bottom: -38px;
}

.arrow_right {
  transform: rotate(270deg) scale(0.3);
  margin-right: -38px;
  margin-top: -38px;
  margin-bottom: -38px;
  visibility: hidden;
}

.container {
	width: 900px;
	margin: 0 auto;
	text-align: center;
}

footer {
	margin-top: 80px;
}



