body {
	background: rgb(255, 190, 198); /* rosa 2 */
}

.flex-nav {
	width: 900px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 120px auto 60px auto;
	padding: 0;
}

.heading {
	flex: 1;
}

h2 {
	padding: 0;
}

.arrow_left {
  transform: rotate(90deg) scale(0.3);
  margin-left: -38px;
  margin-top: -38px;
  margin-bottom: -38px;
}

.arrow_right {
  transform: rotate(270deg) scale(0.3);
  margin-right: -38px;
  margin-top: -38px;
  margin-bottom: -38px;
}

.container {
	width: 900px;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.description {
	width: 300px; 
	height: 552px;
}

p {
	font-family: "Courier New", monospace;
	font-size: 14px;
	color: #000;
	line-height: 1.4em;
	margin-bottom: 1.4em;
}

figure {
  margin: 0;
}


