body {
	background: rgb(255, 190, 198); /* rosa 2 */
}

header {
	display: flex;
	justify-content: center;
	margin-top: 90px;
	margin-bottom: 60px; 
}

header h2 {
	padding: 0;  
}

.arrow_left {
  transform: rotate(90deg) scale(0.3);
  float: left;
  position: absolute;
  top: 45px;
  left: 60px;
}

.container {
	width: 900px;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

.description {
	width: 300px; 
	height: 552px;
}

.figure {
	width: 382px;
	height: 552px;
}

p {
	font-family: "Courier New", monospace;
	font-size: 14px;
	color: #000;
	line-height: 1.4em;
	margin-bottom: 1.4em;
}

figure {
  margin: 0;
}


