body {
	background: rgb(253, 181, 191); /* rosa */
	color: #0B24FB; /* azul */
	font-family: "CircularStd-Bold", sans-serif;
	font-size: 32px;
	margin: 0;
}

#canvasContainer {
	width: 100%;
	height: 100vh;
}

.container-presentation {
	width: 900px;
	height: 100vh;
	margin: 0 auto;
}

h1{
	font-size: 32px;
	margin-bottom: 0;
	padding-top: 90px;
}

p {
	margin-top: 0;
}

p em {
	font-style: normal;
}

h1 a{
	color: #0B24FB;
	text-decoration: none;
}

/*h1 a:hover {
	text-decoration: none;
	text-shadow:
		rgba(0, 0, 0, 0.498039) -1px -1px 0px,
		rgba(0, 0, 0, 0.498039) -1px 1px 0px,
		rgba(0, 0, 0, 0.498039) 1px 1px 0px,
		rgba(0, 0, 0, 0.498039) 1px -1px 0px;
}*/

p a{
	color: #0B24FB;
	text-decoration: underline;
}

p a:hover {
	text-decoration: none;
	text-shadow:
		rgba(0, 0, 0, 0.498039) -1px -1px 0px,
		rgba(0, 0, 0, 0.498039) -1px 1px 0px,
		rgba(0, 0, 0, 0.498039) 1px 1px 0px,
		rgba(0, 0, 0, 0.498039) 1px -1px 0px;
}

.pointer {
	text-align: center;
	position: relative;
	top: 100px;
}

.pointer img {
	width: 5%;
}

.whitespace {
	height: 400px;
}

h2 {
	margin: 0; 
	padding-top: 40px;
	padding-bottom: 80px;
	font-size: 32px;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	text-align: center;
	text-shadow:
		rgba(0, 0, 0, 0.498039) -1px -1px 0px,
		rgba(0, 0, 0, 0.498039) -1px 1px 0px,
		rgba(0, 0, 0, 0.498039) 1px 1px 0px,
		rgba(0, 0, 0, 0.498039) 1px -1px 0px;
}

.container-works {
	width: 900px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
	justify-content: space-between;
}

.work {
	margin-bottom: 100px;
	align-self: center;
	text-align: center;
	width: 30%;
}

li img {
	width: 150px;
}

li h3 {
	font-family: "Courier New";
	font-weight: lighter;
	font-size: 14px;
	text-align: center;
}

.pointillisme-soon {
	visibility: hidden;
}

.metas-soon {
	visibility: hidden;
}

.show {
	visibility: visible;
	display: inline-block;
	font-size: 14px;
	font-family: "Courier New";
	color: #FC391D;
	text-transform: uppercase;
}

.container-contact {
	height: 100vh;
	width: 900px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

#contact {
	text-align: center;
	margin: 0 auto;
}

footer p {
	font-family: "Futura Light", sans-serif;
	font-weight: lighter;
	font-size: 10px;
	color: #999999;
	text-align: center;
	margin: auto;
	padding-bottom: 36px;
}

@media(max-width: 992px){
	.container {width: 700px;}
}
@media(max-width: 768px){
	.container {width: 500px;}
}
@media(max-width: 480px){
	.container {width: 350px;}
}

